{
	email admin@gradture.ai
}

gradture.ai {
	reverse_proxy localhost:80
	header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
}

www.gradture.ai {
	reverse_proxy localhost:80
	header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
}

api.gradture.ai {
	reverse_proxy localhost:3000
	header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
}

admin.gradture.ai {
	reverse_proxy localhost:3000
	header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
}
